@import "base";
@import "variables";
@import "footer";

.container {
  padding-inline: 32px;
  padding-top: 108px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .notify {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    width: 100%;

    &__ping-logo {
      margin-bottom: 64px;
    }

    &__heading {
      margin-bottom: 24px;

      font-weight: 300;
      color: var(--gray);
    }

    &__heading-bold {
      font-weight: 700;
      color: var(--very-dark-blue);
    }

    &__description {
      margin-bottom: 48px;
    }

    &__form {
      margin-bottom: 96px;

      padding-inline: 24px;

      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &__form-input,
    &__form-submit {
      border-radius: 9999px;

      padding-block: 16px;

      width: 100%;
      font-size: 20px;
    }

    &__form-input {
      margin-bottom: 64px;

      padding-left: 48px;

      font-weight: 300;
      border: 1px solid var(--blue);
    }

    &__form-input:focus {
      border: 1px solid var(--light-red);
    }

    &__form-input:focus-visible {
      outline: none;
      border: 2px solid var(--blue);
    }

    &__form-input::-webkit-input-placeholder {
      color: var(--blue);
      opacity: 0.3;
    }

    &__form-submit {
      padding: auto;
      border: none;
      background-color: var(--blue);
      font-weight: 300;
      color: white;
      box-shadow: 0 10px 15px hsla(223, 87%, 63%, 0.4);
    }

    .js-error {
      color: var(--light-red);
    }

    .error--active {
      width: max-content;
      position: absolute;
      bottom: 186px;
      right: 50%;
      transform: translateX(50%);
    }

    .notify__form-input--active {
      border: 1px solid var(--light-red);
    }

    .notify__form-input--active:focus {
      outline: none;
      border: 2px solid var(--light-red);
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-inline: 56px;
    padding-top: 64px;

    .notify {
      .error--active {
        position: absolute;
        bottom: 186px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-inline: 248px;
    padding-top: 64px;

    .notify {
      &__form {
        margin-bottom: 64px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &-input {
          padding-left: 32px;
        }

        &-submit {
          margin-left: 16px;
          width: 40%;
          cursor: pointer;
        }

        &-submit:hover {
          opacity: 0.8;
        }
      }

      &__ping-logo {
        margin-bottom: 36px;
      }

      &__heading {
        margin-bottom: 12px;
      }

      &__description {
        margin-bottom: 40px;
      }

      .error--active {
        position: absolute;
        bottom: 100px;
        left: 56px;
        transform: none;
      }
    } 
  }
}
